# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/ for more details
version: 2
jobs:
  test:
    docker:
      - image: circleci/golang:1.14
    working_directory: /go/github.com/thought-machine/aws-service-quotas-exporter
    steps:
      - checkout
      - run: sudo ln -s /usr/local/go/bin/go /usr/local/bin/go
      - run: curl https://get.please.build | sh
      - run: go get -u golang.org/x/lint/golint
      - run:
          name: "Lint"
          command: source ~/.profile && plz run parallel --include=lint --show_all_output
      - run:
          name: "gofmt check"
          command: source ~/.profile && plz run parallel --include=gofmt --show_all_output
      - run:
          name: "Test"
          command: source ~/.profile && plz test ./... --show_all_output
  build_and_test:
    working_directory: ~/aws-service-quotas-exporter
    machine: true
    steps:
      - checkout
      - run:
          name: Build Docker Image
          command: docker build -f build/Dockerfile-builder . --rm=false -t thoughtmachine/aws-service-quotas-exporter:"$CIRCLE_SHA1"
  build_and_release:
    working_directory: ~/
    machine: true
    steps:
      - run:
          name: Checkout code
          command: |
            if [ -z ${CIRCLE_TAG+x} ]
            then
                git clone --depth 1 "${CIRCLE_REPOSITORY_URL}"
            else
                git clone --branch "${CIRCLE_TAG}" --depth 1 "${CIRCLE_REPOSITORY_URL}"
            fi
      - run:
          name: Build Docker Image
          command: |
            pushd aws-service-quotas-exporter
            if [ -z ${CIRCLE_TAG+x} ]
            then
                docker build -f build/Dockerfile-builder . --rm=false -t thoughtmachine/aws-service-quotas-exporter:"$CIRCLE_SHA1"
            else
                docker build -f build/Dockerfile-builder . --rm=false -t thoughtmachine/aws-service-quotas-exporter:"$CIRCLE_TAG"
            fi
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            if [ -z ${CIRCLE_TAG+x} ]
            then
                docker push thoughtmachine/aws-service-quotas-exporter:"$CIRCLE_SHA1"
            else
                docker push thoughtmachine/aws-service-quotas-exporter:"$CIRCLE_TAG"
            fi
workflows:
  version: 2
  build-master:
    jobs:
      - build_and_release:
          context: conntest-dockerhub-release
          filters:
            branches:
              only: master
  build-tag:
    jobs:
      - build_and_release:
          context: conntest-dockerhub-release
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
  test-buildable:
    jobs:
      - test
