# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/ for more details
version: 2
jobs:
  test:
    docker:
      - image: cimg/go:1.19.0
    working_directory: /go/github.com/thought-machine/aws-service-quotas-exporter
    steps:
      - checkout
      - run: go install github.com/mgechev/revive@v1.2.4
      - run:
          name: "Lint"
          command: "revive -set_exit_status ./..."
      - run:
          name: "vet"
          command: "go vet ./..."
      - run:
          name: "gofmt check"
          command: "[ -z $(gofmt -l .) ] && exit 0 || exit 1"
      - run:
          name: "Test"
          command: "go test ./..."
  build_and_release:
    working_directory: ~/
    machine: true
    steps:
      - run:
          name: Checkout code
          command: |
            if [ -z ${CIRCLE_TAG+x} ]
            then
                git clone --depth 1 "${CIRCLE_REPOSITORY_URL}"
            else
                git clone --branch "${CIRCLE_TAG}" --depth 1 "${CIRCLE_REPOSITORY_URL}"
            fi
      - run:
          name: Build Docker Image
          command: |
            pushd aws-service-quotas-exporter
            if [ -z ${CIRCLE_TAG+x} ]
            then
                docker build -f build/Dockerfile . --rm=false -t thoughtmachine/aws-service-quotas-exporter:"$CIRCLE_SHA1"
            else
                docker build -f build/Dockerfile . --rm=false -t thoughtmachine/aws-service-quotas-exporter:"$CIRCLE_TAG"
            fi
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            if [ -z ${CIRCLE_TAG+x} ]
            then
                docker push thoughtmachine/aws-service-quotas-exporter:"$CIRCLE_SHA1"
            else
                docker push thoughtmachine/aws-service-quotas-exporter:"$CIRCLE_TAG"
            fi
workflows:
  version: 2
  build-master:
    jobs:
      - build_and_release:
          context: conntest-dockerhub-release
          filters:
            branches:
              only: master
  build-tag:
    jobs:
      - build_and_release:
          context: conntest-dockerhub-release
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
  test-buildable:
    jobs:
      - test
